
@using ClassLibrary
@using RPGkillerapp.Controllers
@using RPGkillerapp.Models
@model List<string>
@{
    ViewBag.Title = "GameScreen";
    Layout = "~/Views/Shared/_LayoutWithTop.cshtml";
}
@if(GameController.Current.CurrentPlayer.Health > 0){ 
<div class="container">
    @using (Html.BeginForm("Nextroom", "Game", FormMethod.Post))
    {
        <input value="Next Room" , type="submit" style="float: left" class="btn btn-default" />
    }


    @using (Html.BeginForm("UseMagic", "Game", FormMethod.Post))
    {
        <input value="Use Magic" , type="submit" style="float: left" class="btn btn-default" />
    }

    @if (GameController.Current.CurrentEnemy != null)
    {
        using (Html.BeginForm("Attack", "Game", FormMethod.Post))
        {
            <input value="Attack" , type="submit" style="float: left" class="btn btn-default" />
        }

    }

    @if (GameController.Current.Trader)
    {
        using (Html.BeginForm("Trader", "Game", FormMethod.Post))
        {
            <input value="Trader" , type="submit" style="float: left" class="btn btn-default" />
        }
    }
</div>
<style>
    ul {
        display: table;
        padding-left: 500px;
    }
</style>
<ul>
    @foreach (string text in GameController.Current.StoryText())
    {
        <li>@text</li>
    }
</ul>
}
else
{
   @Html.ActionLink(GameController.Current.CurrentPlayer.Name + " Died, return to playerselect", "PlayerSelect", "Home")
}