
@using ClassLibrary
@using RPGkillerapp.Controllers
@using RPGkillerapp.Models
@model List<string>
@{
    ViewBag.Title = "GameScreen";
    Layout = "~/Views/Shared/_LayoutWithTop.cshtml";
}







@using (Html.BeginForm("Nextroom", "Game", FormMethod.Post))
{
    <input value="Next Room", type="submit"/>
}

@using (Html.BeginForm("Attack", "Game", FormMethod.Post))
{
    <input value="Attack" , type="submit" />
}

@using (Html.BeginForm("Inventory", "Game", FormMethod.Post))
{
    <input value="Inventory" , type="submit" />
}


<style>
    ul {
        display: table;
        padding-left: 500px;
    }
</style>
    <ul>
@foreach (string text in ((GameController)ViewContext.Controller).Text())
{
            <li>@text</li>
}
    </ul>