@using System.Activities.Statements
@using System.Web.UI.WebControls
@using ClassLibrary
@using RPGkillerapp.Controllers
@using RPGkillerapp.Models

@{
    ViewBag.Title = "PlayerSelect";
}

<h2>PlayerSelect</h2>

<ul>
    @foreach (Player player in ((HomeController)ViewContext.Controller).Allplayers())
    {
        <li>
            @Html.ActionLink((@player.Name + " as a " + @player.Classes), "GameScreen", "Game", new { playerid = player.Id.ToString() }, null)
        </li>
    }
</ul>

@using (Html.BeginForm("CreatePlayer", "Home"))
{
    <input type="submit" , value="Create player" />
}

