@using System.Web.UI.WebControls
@using ClassLibrary
@using RPGkillerapp.Models

    @{
        ViewBag.Title = "PlayerSelect";
    }

    <h2>PlayerSelect</h2>
<ul>
    @foreach (Player player in new PlayerRepo(new PlayerQuery()).GetAllPlayers())
    {
        <li>
            @player.Name as a @player.Classes
        </li>
    }
   
</ul>

@using (Html.BeginForm("Index", "Home"))
    {
        <input type = "submit", value="Create player"/>
    }
